@import "compass/css3/transition"

$icon-width: 140px
#services
  ul.services
    padding: 0px
    margin: 0px
    li
      list-style-type: none
      position: relative
  .service
    padding: 30px 0px
    padding-right: 20px
    +transition(all 0.3s)
    .contact
      float: right
      a
        +button-codegram
    .description
      margin-left: $icon-width
    h2
      margin: 0px
      padding: 0px
    &:hover
      background-color: #f1f1f1
      +transition(all 0.3s)
      .icon
        color: $codegram-color
        +transition(all 0.3s)
      hgroup
        h3
          +transition(all 0.3s)
  .icon
    color: #ddd
    position: absolute
    top: 25px
    left: 0px
    font-family: Klavika, "Helvetica Neue", Helvetica, Arial
    +transition(all 0.3s)
    font-size: 8em
    width: $icon-width
    text-align: center
  .pricing
    strong
      text-transform: uppercase
      width: 120px
      display: inline-block
    top: 0px
    font-size: 1.1em
    .money
      display: inline-block
      color: #fff
      background-color: $codegram-color
      padding: 2px 5px
  hgroup
    margin-bottom: 10px
    h2
      display: inline
    h3
      display: inline
      color: lighten($font-color, 30%)
      +transition(all 0.3s)
      margin-left: 15px
