<a href="http://baruco.org/" style="position: fixed; display: block; top: 0px; right: 0px; width: 110px; height: 110px; z-index: 9999;" target="_blank" title="I love Barcelona Ruby Conference 2012"><img alt="I love Barcelona Ruby Conference 2012" src="http://assets.baruco.org/badges/fixed-right.png" /></a>
